<h1>Edite o seu livro</h1>
<form action="#" method="post" class="form">
    <div class="form-control">
        <label for="title">Titulo:</label>
        <input type="text" name="title" value="{{book.title}}" >
    </div>
    <div class="form-control">
        <label for="pageqty">Número de págingas:</label>
        <input type="number" name="pageqty" value="{{book.pageqty}}" >
    </div>

    <div class="actions">
        <input type="submit" value="Editar" class="btn btn-info-gray">
    </p>

</form>